.catmystyle {	
			background-color: #00ffaa;
			color: #003322;
			font-size: large;
			font-weight: bold;
			font-style: arial;
			display: inline-block;
			float: right;
			width: 40%;
			height: 100%;
}
.catmystyle2{

			background-color: #ff7733;
			color: #0000ff;
			font-size: large;
			font-weight: bold;
			font-style: arial;
			display: inline-block;
			float: right;
			width: 40%;
			height: 100%;
}
.catmystyle3{
			background-color: #82afdd;
			color: #443322;
			font-size: large;
			font-weight: bold;
			font-style: arial;
			display: inline-block;
			float: right;
			width: 40%;
			height: 100%;
}
