.objmystyle{
		background-color: #e6fff7;
		color: #003322;
		font-size: large;
		font-weight: bold;
		width: 100%;
		height: 50%;
}
.objmystyle2{
		background-color: #ffbb99;	
		color: #003322;
		font-size: large;
		font-weight: bold;
		width: 100%;
		height: 50%;
}
.objmystyle3{
		background-color: #336666;
		color: #003322;
		font-size: large;
		font-weight: bold;
		width: 100%;
		height: 50%;
}
